<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | About Us</title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
<<<<<<< HEAD
<<<<<<< HEAD
      The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
=======
      Them <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
>>>>>>> 271f5e7e989a220f1be3abd88ad73b736bbe772d
=======
      Them <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
>>>>>>> 271f5e7e989a220f1be3abd88ad73b736bbe772d
      is a project to make a book and screencasts to teach web development
      with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the sample application for the tutorial.
    </p>
  </body>
</html>